.machineRecharge>.sub{
    display: block;
}
.machineRecharge>.sub>li>.twoLi{
    color: #f60;
}
.table-cell {
    padding: 5px 0 5px 0;
}
/*适配*/
@media screen and (min-width: 1200px) and (max-width: 1680px) {
    .table-cell {
        padding: 5px 0 5px 0;
    }
}